.nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background: #fcfcfc;
    left: 0;
    bottom: 0;
    border-top: 1px solid #f7f7f7;
    font-size: 20px;
}
.nav .nav__list {
    display: flex;
    justify-content: space-around;
}
.nav .nav__list-link {
    position: relative;
}
.nav .nav__badge {
    width:17px;
    height:17px;
    color: #fff;
    position: absolute;
    top:-7px;
    right:-10px;
    background:#dc5d46;
    font-size: 14px;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}